TZ=Asia/Shanghai
DOCKER_NETWORK=chat-web-infrastructure

NODE_ENV=production
PORT=4020

NACOS_SERVER=chat-web-nacos:8848
NACOS_NAMESPACE=replace-with-nacos-namespace-id
NACOS_CONFIG_DATA_ID=chat-web-skyline-service.yaml
NACOS_CONFIG_GROUP=DEFAULT_GROUP
NACOS_REGISTER_ENABLED=true
NACOS_REGISTER_REQUIRED=false
NACOS_SERVICE_NAME=chat-web-skyline-service
NACOS_GROUP=DEFAULT_GROUP
NACOS_REGISTER_PORT=4020
NACOS_REGISTER_IP=

DEPLOYMENT_ENVIRONMENT=production-home
