# 容器时区
TZ=Asia/Shanghai

# 已存在的 Docker 外部网络名称
DOCKER_NETWORK=chat-web-infrastructure

# Node.js 运行环境
NODE_ENV=production

# 容器内 NestJS 监听端口
PORT=4020

# 当前 chat-home-server 部署环境标识
DEPLOYMENT_ENVIRONMENT=production-home

# Nacos 服务地址
NACOS_SERVER=nacos:8848

# Nacos 服务名称
NACOS_SERVICE_NAME=chat-web-skyline-service

# Nacos 命名空间 ID
NACOS_NAMESPACE=replace-with-production-home-namespace-id
